html {
  scroll-behavior: smooth;
}
/*NavBar*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  backdrop-filter: blur(4px);
  height: 60px;
}

.logo-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.logo-icon svg {
  font-size: 1.8rem;
}

.login-btn {
  background-color: #140c06;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.login-btn:hover {
  background-color: #3d352c;
}
/*=============================Landing Page=======================*/
.landing-page {
  margin: 0;
  padding: 0;
}

.video-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.video-wrapper {
  width: 100%;
  height: 130vh;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.overlay-content {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  top: 30%;
  left: 25%;
  transform: translateY(-50%);
  padding: 0 2rem;
}

.overlay-content h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}

.overlay-content p {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #001f3f;
}

.curve-divider {
  position: absolute;
  z-index: 1000;
  bottom: -6px;
  width: 100%;
}

.curve-divider svg {
  display: block;
  width: 150vw;
  height: 400px;
}
/*=======================Destinacion section==========================*/
.destinations-section {
  padding: 4rem 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 120px auto;
}

.destinations-section h2 {
  font-size: 2rem;
  color: #704d30;
  margin-bottom: 1rem;
  font-weight: 900;
  font-family: "Baloo 2", cursive;
}

.destinations-section p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 7rem;
  line-height: 1.7;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
}

.destination-tile {
  background-size: cover;
  background-position: center;
  height: 220px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.destination-tile:hover {
  transform: scale(1.03);
}

.destination-name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
/*=============================How it works=====================*/
.how-it-works-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #fdfdff;
}

.how-it-works-section h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 7rem;
  color: #222;
}

.how-it-works-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.how-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.how-card.reverse {
  flex-direction: row-reverse;
}

.how-card img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.how-text {
  max-width: 500px;
}

.how-text h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

.how-text p {
  color: #666;
  font-size: 1.5rem;
  line-height: 1.6;
}
/*========================Image banner======================*/
.three-image-banner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;
  gap: 0.5rem;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #fefefe;
}

.banner-image {
  position: relative;
  flex: 1 1 calc(33.333% - 1rem);
  height: 40vh;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
  border-radius: 12px;
}

.banner-image:hover img {
  transform: scale(1.05);
}

.banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.banner-caption::before,
.banner-caption::after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background-color: white;
  opacity: 7;
  margin: 0 1rem;
}

.banner-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  z-index: 1;
  border-radius: 12px;
}

@media (max-width: 992px) {
  .banner-image {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 600px) {
  .banner-image {
    flex: 1 1 100%;
    height: 40vh;
  }
}

/*=============================Auth Forms======================*/

.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.form-container {
  position: relative;
  width: 450px;
  height: 900px;
  overflow: hidden;
  transition: 0.6s;
}

.form-box {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  top: 0;
  transition: 0.6s ease-in-out;
}

.login-form {
  left: 0;
  z-index: 2;
}

.signup-form {
  left: 100%;
  z-index: 1;
}

.form-container.signup-mode .login-form {
  left: -100%;
  z-index: 1;
}

.form-container.signup-mode .signup-form {
  left: 0;
  z-index: 2;
}
.form-container .login-form {
  top: 0;
  transition: 0.6s ease-in-out;
  margin-top: 10rem;
}
.form-container .signup-form {
  margin-top: 1.2rem;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
.form-box h2 {
  font-size: 2.5rem;
}

.form-box input,
select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #140c06;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #3d352c;
}

.form-box p {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #555;
}

.form-box p span {
  color: #8e7b66;
  font-weight: 700;
  cursor: pointer;
}

/* add trip post*/
.trip-post {
  background-color: #fdfaf7;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  color: #3a2c20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 16px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.description-input textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  color: #3a2c20;
  font-size: 16px;
  outline: none;
}

.photo-upload-frame {
  background-color: #f2ede9;
  border-radius: 12px;
  padding: 16px;
  margin-top: 16px;
}

.drop-area {
  border: 2px dashed #bfae9e;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  transition: border 0.3s ease;
}

.drop-area:hover {
  border-color: #a8876a;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus-icon {
  font-size: 36px;
  margin-bottom: 8px;
}

.drop-area input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.mobile-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f1;
  border-radius: 8px;
  padding: 10px 16px;
  margin-top: 12px;
  flex-wrap: wrap;
  gap: 8px;
}

.device-icon {
  font-size: 22px;
  color: #3a2c20;
}

.upload-text {
  flex: 1;
  min-width: 200px;
  color: #3a2c20;
}

.add-btn {
  background-color: #c9a27e;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
.add-btn:hover {
  background-color: #a8876a;
  transform: scale(1.03);
}
.preview-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  gap: 10px;
}

.preview-image {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
  border: 2px solid #c7b4a3;
}

.file-label {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #3a2c20;
}

#fileInput {
  display: none;
}

.trip-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}

.trip-option {
  display: flex;
  align-items: center;
  background: #f6f3ef;
  border-radius: 8px;
  padding: 6px 10px;
  flex: 1 1 45%;
  position: relative;
}

.trip-option .icon {
  margin-right: 8px;
  color: #3a2c20;
}

.trip-option input {
  background: transparent;
  border: none;
  color: #3a2c20;
  flex: 1;
  padding-right: 30px;
}

.trip-option input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.trip-option input:focus {
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 0 2px rgba(201, 162, 126, 0.3); /* pastel i butë */
}

.input-suffix {
  position: absolute;
  right: 10px;
  color: #7a6b5a;
  font-weight: bold;
  pointer-events: none;
}

.post-button {
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  background-color: #c9a27e;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.post-button:hover {
  background-color: #a8876a;
  color: #fff;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.trip-option input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%) sepia(20%) hue-rotate(10deg) saturate(200%);
  cursor: pointer;
}
/*  RESPONSIVE DESIGN  */
@media (max-width: 768px) {
  .trip-option {
    flex: 1 1 100%;
  }

  .mobile-upload {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-btn {
    align-self: flex-end;
    margin-top: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .drop-area {
    padding: 20px;
  }

  .plus-icon {
    font-size: 28px;
  }

  .upload-text {
    font-size: 14px;
  }

  .trip-option input {
    font-size: 14px;
  }

  .post-button {
    font-size: 14px;
    padding: 10px;
  }
}
/* DRAGGING EFFECT */
.drop-area.dragging {
  border-color: #00aaff;
  background-color: #2e2e2e;
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  position: relative;
}

.close-modal,
.delete-modal {
  position: absolute;
  top: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    color 0.2s ease;
}

.close-modal {
  right: 10px;
}

.delete-modal {
  right: 50px;
}

.close-modal:hover,
.delete-modal:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f87171;
  transform: scale(1.2);
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1002;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-50%) scale(1.15);
}

.nav-button.left {
  left: 12px;
}

.nav-button.right {
  right: 12px;
}
